.chatsBlock {
    padding: 12px 0 12px 3px;
    width: 33%;
    border-left: 1px solid var(--contrast03);

    .button {
        width: 24px;
        padding: 4px;
        height: 24px;
    }
    .button:hover {
        cursor: pointer;
        border-radius: 50%;
        background-color: var(--contrast02);
    }

    .list {
        display: flex;
        flex-flow: column;
        height: calc(100% - 32px);
        overflow: hidden;
        overflow-y: scroll;
    }
}