.surveyInPost {
    margin-top: 5px;
    padding: 10px;
    border-radius: 15px;
    display: grid;

    .question {
        display: flex;
        justify-self: center;
        font-size: var(--fs-lg2);
        margin-bottom: 15px;
    }

    .line {
        $padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 40px;
        width: calc(100% - $padding*2);
        padding: 0 $padding;
        background-color: var(--ligth05);
        border-radius: 8px;
        cursor: pointer;
        margin-bottom: 5px;
    }

    .active {
         background-color: var(--ligth08);
     }

    .checkBox {
        width: 18px;
        height: 18px;
    }

    .button {
        align-self: center;
        justify-self: center;
        padding: 7px;
        margin-top: 5px;
        border-radius: 8px;
        cursor: pointer;
        background-color: var(--ligth08);
    }
}