.registrationBackground {
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
    overflow: hidden;
    width: 100vw;
    height: 2460px;
}

.image {
    margin-bottom: 20px;
}