@import "Loading";
html {
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
::-webkit-scrollbar {
  width: 8px;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #fff;
  border: 1px solid #000;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --family: 'Proxima Nova', sans-serif;
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fw-light: 300;
  --fw-normal: 400;
  --fw-bold: 800;
  --active-color: #4C90F0;
}

body[data-theme='dark'] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);
  --colors-hover: rgba(255, 255, 255, .2);

  --shadow: rgba(245, 245, 245, 0.2), 0 0 8px;
  --box-shadow: inset 0 0 0 1px hsl(0deg 0% 100% / 20%), 0 2px 4px rgb(17 20 24 / 40%), 0 8px 24px rgb(17 20 24 / 40%);
}

body[data-theme='light'] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0%, 98%);
  --colors-ui-base: hsl(0, 0%, 100%);
  --colors-hover: rgba(0, 0, 0, .2);

  --shadow: rgba(149, 157, 165, 0.2), 0 8px 24px;
  --box-shadow: inset 0 0 0 0px rgb(17 20 24 / 20%), 0 2px 4px rgb(17 20 24 / 20%), 0 8px 24px rgb(17 20 24 / 20%);
}

body {
  display: grid;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  color: var(--colors-text);
  font-weight: var(--fw-light);
  background-color: var(--colors-bg);
  font-family: var(--family);
}

a {
  color: var(--active-color);
  text-decoration: none;
}

button {
  outline: none;
  background: none;
  border: 0;
  padding: 0;
  cursor: pointer;
}