.chat {
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        border-bottom: 1px solid var(--contrast03);

        .button {
            display: flex;
            align-items: center;
            padding: 5px;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            height: 20px;
            width: 20px;
            font-size: 20px;
        }

        .button:hover {
            background-color: var(--colors-hover);
        }
    }
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-flow: column;
}