.chat {
    display: flex;
    flex-flow: column;
    height: 100%;
    $headerHeight: 20px;
    $headerPadding: 5px;
    $inputHeight: 34px;
    $inputBottomPadding: 15px;
    $listHeight: calc(100% - #{$headerHeight} - (#{$headerPadding} * 2) - #{$inputHeight} - #{$inputBottomPadding});

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 10px;
        border-bottom: 1px solid var(--contrast03);

        .button {
            display: flex;
            align-items: center;
            padding: $headerPadding;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            height: $headerHeight;
            width: 20px;
            font-size: 20px;
        }

        .button:hover {
            background-color: var(--colors-hover);
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        height: $listHeight;
        overflow: hidden;
        overflow-y: scroll;
    }

    .inputBlock {
        padding-right: 5px;
        padding-left: 5px;
        position: relative;
        bottom: 0;
        height: $inputHeight;
        padding-bottom: $inputBottomPadding;
    }
}

.empty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    flex-flow: column;
}