.cross {
    border-radius: 50%;
    fill: white;
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cross:hover {
    box-shadow: var(--box-shadow);
    background-color: var(--colors-hover);
}