.topProfile {
    display: flex;
    min-width: 170px;
    position: relative;
    cursor: pointer;
    flex-flow: column;
    padding: 3px 5px;
    border-radius: 4px;

    &:hover {
        background-color: var(--colors-hover);
    }
}

.active {
    background-color: var(--colors-hover);
}

.anAuthButton {
    font-size: 20px;
    margin-right: 5px;
    padding: 4px;
    border-radius: 5px;
}

.anAuthButton:hover {
     color: white;
     background-color: var(--active-color);
 }